MYSQL_ROOT_PASSWORD=confchain_root
MYSQL_DATABASE=confchain
MYSQL_USER=confchain
MYSQL_PASSWORD=confchain
DATABASE_URL=mysql://confchain:confchain@localhost:3306/confchain

JWT_ACCESS_SECRET=change_me_access
JWT_REFRESH_SECRET=change_me_refresh
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d

FISCO_RPC_URL=http://192.168.229.130:20200
WEBASE_FRONT_URL=http://192.168.229.130:5002
FISCO_GROUP_ID=1
FISCO_CHAIN_ID=chain0
FISCO_CONTRACT_COPYRIGHT=0x0000000000000000000000000000000000000000
FISCO_CONTRACT_REVIEW=0x0000000000000000000000000000000000000000
